body {
    background-color: #f7f4de;
    font-family: Arial;
}

.container {
    width: 350;
    height: 675;
    margin: 60px auto;
    padding: 25px;
    border: 2px solid #ddd;
    border-radius: 20px;
    background-color: white;
}

img {
    display: block;
    margin: 0 auto 20px auto;
    border: 1px solid black;
    border-radius: 20px;
}

.social {
    display: flex;
    justify-content: center;
    gap: 15px;
}

a {
    padding: 12px 150px;
    border: 1px solid black;
    border-radius: 20px;
    color: black;
}